/* Attributes that apply to complete page, besides specifics */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body Attributes */
body {
    background-color: #d9dcd6;
}

/* Header Attributes */
header {
    position: absolute;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
}

/* Header (H1) Attributes */
hgroup > h1 {
    color: #d9dcd6;
    font-size: 48px;
    }

/* Header (H2) Attributes */
hgroup > h2 {
    margin-bottom: 20px;
    font-size: 36px;
    }

/* Header (H3) Attributes */
hgroup > h3 {
    margin-bottom: 10px;
    text-align: center;
    }
    

/* Navbar Attribues (Container) */
nav {
    text-align: right;
    margin: right;
}

/* Navbar Attributes (List) */
nav ul {
    position: relative;
    display: inline-flex;
    list-style-type: none;
    padding: 20px;
    top: 20px;
    right: 20px;
}

/* Navbar Attributes (List Item) */
nav li a{
    text-decoration: none;
    color: #ffffff;
    font-size:18px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 25px;
    text-align: center;
}


p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Image Float */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Image Float */

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits Section Attributes */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Section Benefits Container Attributes */
.benefit-class
{
    margin-bottom: 32px;
    color: #ffffff;
}

/* Section Benefits Image Attributes */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Individual Benefits Section Attributes */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Individual Benefits Section Attributes */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Individual Benefits Section Attributes */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* Footer Attributes */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Footer (H2) Header Attributes */
footer h2 {
    font-size: 20px;
}